@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&family=Orbitron&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;   

}

body {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    background-image: linear-gradient( rgb(255, 43, 117), rgb(62, 173, 173), rgb(146, 90, 211));
    color: white;
}

#digital {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 15px;

}

.clock {
    background-color: white;
    padding: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 9px solid black;
    box-shadow: 10px 10px 15px black;
}

.clock-center {
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    background-color: grey;
}

.clock-numbers {

}

#hour-hand {
    --hh-degrees: 0deg;
    background-color: rgb(146, 90, 211);
    width: 10px;
    height: 120px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(var(--hh-degrees));
    transform-origin: bottom;
    position: absolute;
    border-radius: 5px 5px 0 0;
    z-index: 5;
}

#minute-hand {
    --mh-degrees: 0;
    background-color: rgb(62, 173, 173);
    width: 8px;
    height: 180px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(var(--mh-degrees));
    transform-origin: bottom;
    position: absolute;
    border-radius: 5px 5px 0 0;
    z-index: 6;
}

#second-hand {
    --sh-degrees: 0;
    width: 3px;
    height: 180px;
    background-color: rgb(255, 43, 117);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(var(--sh-degrees));
    transform-origin: bottom;
    border-radius: 5px 5px 0 0;
    z-index: 7;
}

.clock-numbers {
    color: black;
    font-size: 36px;
    width: 20px;
    height: 20px;
    background-color: black;
    z-index: 10;
    border-radius: 50%;
}

#num-1 {
    position: absolute;
    right: -90px;
    top: -180px;
}

#num-2 {
    position: absolute;
    right: -160px;
    top: -110px;
}

#num-3 {
    position: absolute;
    right: -190px;
    top: -15px;
}

#num-4 {
    position: absolute;
    right: -160px;
    top: 80px;
}

#num-5 {
    position: absolute;
    right: -90px;
    top: 145px;
}


#num-6 {
    position: absolute;
    bottom: -200px;
    left: 0px;
}

#num-7 {
    position: absolute;
    left: -90px;
    top: 145px;

}

#num-8 {
    position: absolute;
    left: -160px;
    top: 80px;

}

#num-9 {
    position: absolute;
    left: -190px;
    top: -15px;
}

#num-10 {
    position: absolute;
    left: -160px;
    top: -110px;

}

#num-11 {
    position: absolute;
    left: -90px;
    top: -180px;

}

#num-12 {
    position: absolute;
    top: -200px;
    right: -5px;
}
